<nav>
    <li><a href="/">THE DESIGN SHOP</a></li>
    <ul>
        <li><a href="/weekly">weekly Recomendation</a></li>
        <li><a href="/lessthan">Less than 30$</a></li>
        <li><a href="/add">Add</a></li>
    </ul>
</nav>